<div class="login_page_cont">
  <!--STARTING AND LOGIN SCREEN-->
  <div
    class="login_cont"
    *ngIf="
      appState === appStateEnum.LoginScreen ||
      appState === appStateEnum.LoginWrongDataAttempt ||
      appState === appStateEnum.StartScreen
    "
  >
    <!--STARTING SCREEN-->
    <img class="login_logo" src="assets/imgs/logo.png" alt="tic tac toe logo" />
    <div class="login_title_cont">
      <span class="login_title">TIC TAC TOE</span>
    </div>
    <div class="login_subtitle">With Friends</div>
    <div *ngIf="appState === appStateEnum.StartScreen" class="login_btn_start">
      <app-button
        (click)="changeAppState(appStateEnum.LoginScreen)"
        btnText="START"
      ></app-button>
    </div>

    <!--LOGIN SCREEN-->
    <div
      *ngIf="
        appState === appStateEnum.LoginScreen ||
        appState === appStateEnum.LoginWrongDataAttempt
      "
      class="login_window_cont"
    >
      <app-login-field
        loginFieldPlaceholder="Username"
        loginFieldIconSrc="assets/imgs/username.svg"
        loginFieldType="text"
        (userEventLogin)="handleUserProvidedUsername($event)"
        [loginFieldWidth]="20"
      ></app-login-field>
      <app-login-field
        loginFieldPlaceholder="Password"
        loginFieldIconSrc="assets/imgs/password.svg"
        loginFieldType="password"
        (userEventLogin)="handleUserProvidedPassword($event)"
        [loginFieldWidth]="20"
      ></app-login-field>
      <div
        class="login_window_alert_msg"
        [ngClass]="{
          login_window_alert_msg_show:
            appState === appStateEnum.LoginWrongDataAttempt
        }"
      >
        Wrong login data provided. Please try again!
      </div>
      <app-button
        (click)="handleLoginBtnClicked()"
        btnText="LOGIN"
        class="login_btn"
      ></app-button>
    </div>
  </div>

  <!--SETTINGS SCREEN-->
  <div
    class="settings_cont"
    *ngIf="
      appState === appStateEnum.SettingsScreen ||
      appState === appStateEnum.GameStartWrongName ||
      appState === appStateEnum.GameStartWrongColor
    "
  >
    <div class="settings_title">SETTINGS</div>
    <div class="settings_player_cont">
      <div class="settings_slider">
        <app-range-selector
          (setBoardSize)="setBoardSize($event)"
        ></app-range-selector>
      </div>
      <div class="settings_player">Setting players</div>
      <div class="settings_players_cont">
        <app-player
          *ngFor="let item of storePlayers"
          [symbol]="item.playerSymbol"
          [color]="item.playerColor"
          [symbolPool]="symbolPool"
          [id]="item.id"
          (storePlayersSymbol)="setStorePlayersAttributes($event)"
          (storePlayersColor)="setStorePlayersAttributes($event)"
          (storePlayersName)="setStorePlayersAttributes($event)"
        ></app-player>
      </div>
      <app-new-player
        addNewItemText="Add New Player"
        addNewItemSrc="assets/imgs/add.svg"
        [storePlayers]="storePlayers"
        [symbolPool]="symbolPool"
        [ngClass]="{
          app_new_player_diplay: storePlayers.length >= maxPlayerCnt
        }"
      ></app-new-player>
    </div>
    <div
      class="login_window_alert_msg"
      [ngClass]="{
        login_window_alert_msg_show:
          appState === appStateEnum.GameStartWrongName ||
          appState === appStateEnum.GameStartWrongColor
      }"
    >
      {{ errorMsg }}
    </div>
    <app-button
      btnText="START GAME"
      (click)="handleStartGameBtnClick(appStateEnum.GameScreen)"
    ></app-button>
  </div>

  <!--GAME SCREEN-->
  <div
    *ngIf="
      appState === appStateEnum.GameScreen ||
      appState === appStateEnum.WinnerScreen
    "
    class="game_screen"
  >
    <div
      class="game_screen_cont"
      [ngClass]="{
        game_screen_cont_fade: appState === appStateEnum.WinnerScreen
      }"
    >
      <app-board
        [boardSize]="boardSize"
        [playerSymbols]="playerSymbols"
        [playerColors]="playerColors"
        (appState)="changeAppState($event)"
        (winnerFound)="setWinnerPoint($event)"
      ></app-board>
      <app-player-score [storePlayers]="storePlayers"></app-player-score>
    </div>
    <div *ngIf="appState === appStateEnum.WinnerScreen" class="winner_screen">
      <span class="winner_screen_text">THE WINNER IS</span>
      <span class="winner_screen_name">{{ winnerName }}</span>
      <div class="winner_screen_btn">
        <app-button
          btnText="RESTART"
          (click)="handleRestartBtnClick()"
        ></app-button>
        <app-button
          btnText="QUIT GAME"
          (click)="handleQuitBtnClick()"
        ></app-button>
      </div>
    </div>
  </div>
</div>
