@import "../../assets/styles/colorVariables.scss";

.btn_cont {
  background-color: $secondaryGreenish;
  padding: 0.7rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-flex;

  background: linear-gradient(
    to right,
    $secondaryGreenishHover 50%,
    $secondaryGreenish 50%
  );
  background-size: 200% 100%;
  background-position: right;
  transition: all 0.5s ease-out;

  &:hover {
    background-position: left;
  }
}
