// ts colors
// range selector

// default color
$mainPageBg: #1f3540;
$mainTitleYellow: #f4e056;
$mainTitleOrange: #fa6031;
$secondaryGreenish: #31c4be;
$secondaryGreenishHover: #2cb0ab;
$loginFieldBg: #354953;
$loginIconBg: #222628;
$mainText: black;
$sliderBg: black;

// new color
$secondaryGreenish: #4ab282;
$secondaryGreenishHover: #9ad879;
$mainTitleYellow: #f9f871;
$mainTitleOrange: #fa6031;
$loginIconBg: #04877e;
//$loginFieldBg: #0f5d67;
//$mainText: #00a3ed;
